<table class="table" *ngIf="produits!=null;else vide">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th><button (click)="afficher()">{{nb}}</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of produits">
            <td>{{ produit.id }}</td>
            <!-- <td><a routerLink="/produit/{{produit.id}}">{{ produit.nom|uppercase }}</a></td> -->
            <td><a [routerLink]="['/produit',produit.id]">{{ produit.nom|uppercase }}</a></td>
            <td>{{ produit.prix }}</td>
            <td>{{ produit.quantite }}</td>
            <td><img *ngIf="nb=='masquer'" [src]="produit.urlimg" width="50"></td>
        </tr>
    </tbody>
</table>
<ng-template #vide>aucun produit exist!</ng-template>